:root {
    --principalFont: 'League Spartan', sans-serif;
    --principalFontColor: #ffffff;
    --bgBodyColor: #3b4664;
    --bgDisplay: #181f32;
    --bgButtonPlace: #252d44;
    --bgBtn: #eae3db;
    --bgBtnResetDel: #647299;
    --bgBtnEqual: #d13f30;
    --fontNumberColor: #444a59;
    --btnShadow: #b2a295;
    --bgBtnResetDelShadow: #424e75;
    --bgBtnEqualShadow: #8f2316;
    --switchButtonBg: #252d44;
    --switchButton: #d53d32;
    --btnHover: #ffffff;
    --bgBtnResetDelHover: #a2b3e1;
    --bgBtnEqualHover: #f96c5b;
    --switchButtonHover: #f76c5f;
    --fontBtnEqualColor: #ffffff;
    --fontBtnResetDelColor: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--principalFont);
    font-size: 32px;
    height: 100vh;
    width: 100%;
    background-color: var(--bgBodyColor);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8em;
    width: 2.8em;
    font-family: var(--principalFont);
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0.2em 0.3em;
    box-shadow: 0px 3px 0px 0px var(--btnShadow);
    background-color: var(--bgBtn);
    color: var(--fontNumberColor);
}

button:hover {
    background-color: var(--btnHover);
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16em;
    width: 11.5em;
}
.container div {
    margin: 0.2em 0em;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    height: 2em;
    width: 100%;
    color: var(--principalFontColor);
}

.switch-theme-container {
    display: flex;
    flex-direction: column;
    height: 5em;
    width: 11em;
    font-size: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.switch-theme-container label {
    align-self: flex-end;
    font-size: 9px;
    letter-spacing: 8px;
}

.switch-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.switch-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 2em;
    width: 5.5em;
    background: var(--switchButtonBg);
    cursor: pointer;
 }

 .switch-toggle label {
    position: relative;
    align-self: center;
    height: 1.4em;
    width: 1.4em;
    border-radius: 15px;
 }
 
 .switch-toggle input {
    position: absolute;
    margin: 1px;
    opacity: 0;
    z-index: -1000;
    cursor: pointer;
 }

 .switch-toggle input:checked + label {
    background: var(--switchButton);
 }

 .switch-toggle input:checked + label:hover {
    background: var(--switchButtonHover);
    cursor: pointer;
 }

.calc-display {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 2.3em;
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--principalFontColor);
    background-color: var(--bgDisplay);
}

.number {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 11em;
    width: 100%;
    padding: 0.4em 0.2em;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--bgButtonPlace);
}

.btn-large {
    width: 6.3em;
}

.btn-del {
    font-size: 20px;
    padding: 1.1em 1.78em;
    box-shadow: 0px 3px 0px 0px var(--bgBtnResetDelShadow);
    color: var(--fontBtnResetDelColor);
    background-color: var(--bgBtnResetDel);
}

.btn-del:hover {
    background-color: var(--bgBtnResetDelHover);
}

.btn-x {
    font-size: 20px;
    padding: 1.1em 1.78em;
}

.btn-reset {
    font-size: 20px;
    padding: 1.15em 4em;
    box-shadow: 0px 3px 0px 0px var(--bgBtnResetDelShadow);
    color: var(--fontBtnResetDelColor);
    background-color: var(--bgBtnResetDel);
}

.btn-reset:hover {
    background-color: var(--bgBtnResetDelHover);
}

.btn-equal {
    box-shadow: 0px 3px 0px 0px var(--bgBtnEqualShadow);
    color: var(--fontBtnEqualColor);
    background-color: var(--bgBtnEqual);
}

.btn-equal:hover {
    background-color: var(--bgBtnEqualHover);
}